.navbar {
    display: flex;
    justify-content: space-between;
    margin-inline: 5vw;
    margin-top: -20px;
}
.getlinked {
  color: #fff;
  font-family: 'Clash Display', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
span {
    color: #D434FE;
}
.navlink {
    font-family: Montserrat;
    color: white;
    margin-right: 35px;
    padding-top: 35px;
}
.navlinks {
    display: flex;
    padding-right: 80px;
    list-style: none;
    cursor: pointer;
}
.navcontainer {
    display: flex;
    justify-content: space-between;
}
