@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@900&display=swap");

.rulesand {
  color: #fff;
  font-family: "Aleo", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 0px */
  padding-top: 160px;
}
.guidelines {
  color: #d434fe;
  font-family: "Aleo", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
}
.rules-intro {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 196.429% */
  width: 500px;
}
.rules-container {
    display: flex;
    justify-content: space-around;
    margin-inline: 5vw;
}
